[package]
name = "bevy_gauge"
version = "0.2.2"
edition = "2021"
description = "bevy_gauge - a flexible stats system for Bevy"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DEMIURGE-studio/bevy_gauge"
homepage = "https://github.com/DEMIURGE-studio/bevy_gauge"
documentation = "https://docs.rs/bevy_gauge"
keywords = ["bevy", "gamedev", "stats"]

[lib]
name = "bevy_gauge"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# 1st party
bevy_gauge_macros = { path = "../bevy_gauge_macros" }

# Bevy 1st party
bevy = { version = "0.17", default-features = false, features = ["bevy_log"] }

# Serialization
evalexpr = "12.0.2"
dashmap = "6.1.0"
regex = "1.11.1"
once_cell = "1.21.3"

[dev-dependencies]
criterion = "0.6.0"
serial_test = "3.2.0"

[[bench]]
name = "stats_bench"
path = "benches/stats_bench.rs"
harness = false

[profile.dev]
debug = true

[profile.release]
debug = true
